---
layout: base.njk
---

<main class="post">
<span class="post-title">{{ title }}</span>

{% if image %}
  <img src="{{ image }}" alt="{{ title }}">
{% endif %}

<span class="post-content">
  {{ content | safe }}
</span>
</main>