---
layout: base.njk
---

<main class="post">
<span class="post-title">{{ title }}</span>

<span>
  {% if image %}
    <img src="{{ image }}" alt="{{ title }}">
  {% endif %}
</span>

<span class="post-content">
  {{ content | safe }}
</span>

</main>